<form class="example-form">
    <mat-form-field appearance="fill" id="state">
      <mat-label>State</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected) = "selectOption($event.option.value)" [displayWith] = "displayFn">
        <mat-option *ngFor="let state of filteredOptions " [value]="state" >
          {{state.state_name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <app-districts id="district" [state] = "selectedState" [isStateChanged] = "isStateChanged"></app-districts>
  </form>
  